.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.loader__spinner {
  border-color: #313237;
  border-style: solid;
  border-top-color: #ddd;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
