@use '../../../styles/utils/typography';
@use '../../../styles/utils/variables' as var;
@use '../../../styles/utils/mixins';

.catalog__breadcrumbs {
  @extend %small;

  display: flex;
  gap: 0;
  align-items: center;
  height: 16px;
  margin-top: 24px;
  color: var.$color-secondary;
}

.catalog__breadcrumbs span {
  margin-left: 8px;
}

.catalog__header {
  margin-block-end: 32px;

  @include mixins.on-tablet {
    margin-block-end: 40px;
  }
}

.catalog__header h1 {
  @extend %h1;

  margin: 40px 0 0;
  color: var.$color-primary;
  letter-spacing: var.$letter-spacing-tight;
}

.catalog__models-count {
  @extend %small;

  margin-top: 8px;
  color: var.$color-secondary;
}

.catalog__selects {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-block-end: 24px;
}

.catalog__select-sort {
  width: 100%;

  @include mixins.on-tablet {
    width: 187px;
  }
}

.catalog__select-pages {
  width: 100%;

  @include mixins.on-tablet {
    width: 136px;
  }
}

.catalog__pagination {
  margin-block-end: 64px;

  @include mixins.on-tablet {
    margin-block-end: 80px;
  }
}
