@use '../../../../styles/utils/variables' as var;
@use '../../../../styles/utils/mixins';
@use '../../../../styles/utils/typography';

.items {
  display: flex;
  grid-column: span 16;
  flex-direction: column;
  gap: 16px;

  @include mixins.on-tablet {
    grid-column: span 12;
  }

  @include mixins.on-mobile {
    grid-column: span 4;
  }

  &__item {
    width: 752px;
    height: 128px;
    border: 1px solid var.$color-elements;

    @include mixins.on-tablet {
      width: 100%;
    }

    @include mixins.on-mobile {
      width: 100%;
      height: 160px;
    }
  }
}

.item {
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px;

    @include mixins.on-mobile {
      flex-direction: column;
      gap: 16px;
      align-items: start;
    }
  }

  &__leftSide {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
  }

  &__RightSide {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;

    @include mixins.on-mobile {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__name {
    padding-right: 10px;
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: var.$color-primary;
    letter-spacing: 0%;
  }

  &__img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__remove {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: none;
    background-color: var.$color-background;
    background-image: url('/public/img/home_page/remove.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    transition: background-image 0.3s ease-in-out;

    &:hover {
      background-image: url('/public/img/home_page/Close.svg');
    }
  }

  &__count {
    display: flex;
  }

  &__amount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: var.$color-primary;
    letter-spacing: 0%;
    background-color: var.$color-background;
  }

  &__button {
    cursor: pointer;
    align-self: center;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    margin-left: 4px;
    border: 1px solid var.$color-elements;
    background-color: var.$color-background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;

    &__disabled {
      pointer-events: none;
      background-image: url('/public/img/home_page/Minus.svg');
    }

    &__minus {
      background-image: url('/public/img/home_page/Minus.svg');

      &__disabled {
        pointer-events: none;
        background-image: url('/public/img/home_page/Minus.svg');
      }
    }

    &__plus {
      background-image: url('/public/img/home_page/Plus.svg');
    }
  }

  &__total {
    width: 80px;
    font-family: Mont, sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;
    color: var.$color-primary;
    text-align: right;
    letter-spacing: 0%;
  }
}
