@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils/mixins' as *;

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  gap: 24px;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  height: $header-height-desktop;
  padding: 0;
  background-color: $color-white;
  box-shadow: 0 1px 0 0 $color-elements;

  @include on-tablet {
    height: $header-height-mobile-or-tablet;
  }

  @include on-mobile {
    height: $header-height-mobile-or-tablet;
  }

  &__logo {
    margin: 18px 24px;

    @include on-tablet {
      margin: 13px 16px;
    }
  }

  &__logo__img {
    width: 80px;
    height: 28px;

    @include on-tablet {
      width: 64px;
      height: 22px;
    }

    @include on-mobile {
      width: 64px;
      height: 22px;
    }
  }
}

.nav {
  display: flex;
  min-width: 0;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;

    @include on-mobile {
      display: none;
    }
  }

  &__item {
    margin-right: 64px;

    @include on-tablet {
      margin-right: 32px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    font-family: Mont, sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 64px;
    color: $color-secondary;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4%;

    @include on-tablet {
      line-height: 48px;
    }
  }

  &__link_active {
    color: $color-primary;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color-primary;
    }
  }
}

.actions {
  display: flex;
  margin-left: auto;

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -1px 0 0 0 $color-elements;

    @include on-tablet {
      width: 48px;
      height: 48px;
    }

    @include on-mobile {
      width: 48px;
      height: 48px;
    }

    &__cart {
      background-image: url('/src/assets/icons/Cart.svg');

      @include on-mobile {
        display: none;
      }
    }

    &__favorites {
      background-image: url('/src/assets/icons/Favorites.svg');

      @include on-mobile {
        display: none;
      }
    }

    &__menu {
      display: none;
      border: none;
      text-decoration: none;
      background-color: $color-background;
      background-image: url('/src/assets/icons/Menu.svg');

      @include on-mobile {
        display: flex;
      }

      &__open {
        background-image: url('/src/assets/icons/Close.svg');
      }
    }
  }

  &__link_active {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color-primary;
    }
  }
}

.counter {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 28px;
    height: 28px;
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
    border: 1px solid $color-background;
    border-radius: 14px;
    font-size: 9px;
    font-weight: 700;
    line-height: 100%;
    color: $color-background;
    letter-spacing: 0%;
    background-color: $color-red;
  }
}
