$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-background: #fafbfc;
$color-white: #fff;
$color-green: #27ae60;
$color-red: #eb5757;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 22px;
$font-size-2xl: 32px;
$font-size-3xl: 48px;
$letter-spacing-tight: -0.01em;
$letter-spacing-normal: 0;
$letter-spacing-wide: 0.04em;
$transition-default: 0.3s;

// Header
$desktop-min-width: 1200px;
$header-height-desktop: 64px;
$header-height-mobile-or-tablet: 48px;
$tablet-min-width: 640px;

// Container
$container-padding-inline-mobile: 16px;
$container-padding-inline-tablet: 24px;
$container-padding-inline-desktop: 32px;
$container-max-width: 1200px;
