@use '../../styles/utils/variables' as var;
@use '../../styles/utils/mixins';
@use '../../styles/utils/typography';

.cart {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: var.$header-height-desktop;

    @include mixins.on-tablet {
      padding-top: var.$header-height-mobile-or-tablet;
    }

    @include mixins.on-mobile {
      padding-top: var.$header-height-mobile-or-tablet;
    }

    @include mixins.on-mobile {
      margin-bottom: 56px;
    }

    @include mixins.on-tablet {
      margin-bottom: 64px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__back {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    width: 66px;
    height: 16px;
    padding-left: 8px;
    border: none;
    font-family: Mont, sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: var.$color-secondary;
    text-decoration: none;
    letter-spacing: 0%;
    background-color: transparent;
    background-image: url('/img/home_page/Arrow_Right.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 16px;
  }

  &__title {
    height: 56px;
    margin-top: 16px;
    font-family: Mont, sans-serif;
    font-size: 48px;
    font-weight: 800;
    font-style: bold;
    line-height: 56px;
    color: var.$color-primary;
    letter-spacing: -1%;
  }

  &__main {
    row-gap: 32px;
    margin-top: 32px;

    @include mixins.page-grid;
  }

  &__checkout {
    grid-column: span 8;
    width: 100%;
    height: 206px;
    border: 1px solid var.$color-elements;

    @include mixins.on-tablet {
      grid-column: 1 / -1;
      height: 190px;
    }

    @include mixins.on-mobile {
      grid-column: span 4;
      height: 190px;
    }
  }
}

.checkout {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 41px;
    font-family: Mont, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    color: var.$color-primary;
    text-align: center;
    letter-spacing: -1%;
  }

  &__amount {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 21px;
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var.$color-secondary;
    text-align: center;
    letter-spacing: 0%;
  }

  &__line {
    width: 100%;
    height: 1px;
    margin-top: 25px;
    margin-bottom: 24px;
    background-color: var.$color-elements;

    @include mixins.on-tablet {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    @include mixins.on-mobile {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  &__button {
    cursor: pointer;
    flex: 1;
    width: 100%;
    height: 48px;
    border: none;
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    color: var.$color-white;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0%;
    background-color: var.$color-primary;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 13px 0 rgb(23 32 49 / 40%);
    }
  }
}

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  margin-top: 80px;
  text-align: center;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    font-family: Mont, sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var.$color-secondary;
  }

  &__image {
    width: 300px;
    height: 300px;
    background-image: url('/img/emptycart.png');
    background-repeat: no-repeat;
    background-size: contain;

    @include mixins.on-tablet {
      width: 240px;
      height: 240px;
    }

    @include mixins.on-mobile {
      width: 200px;
      height: 200px;
    }
  }
}

.modal {
  position: fixed;
  z-index: 1000;
  inset: 0;

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgb(14 13 13 / 50%);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    padding: 24px;
    text-align: center;
    background: var.$color-white;
  }

  &__text {
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: var.$color-secondary;
    letter-spacing: 0%;
  }

  &__actions {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 16px;
  }

  &__action {
    cursor: pointer;
    align-self: center;
    width: 120px;
    border: 1px solid var.$color-elements;
    font-family: Mont, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: var.$color-primary;
    letter-spacing: 0%;
    background-color: var.$color-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 3px 13px 0 rgb(126 126 128 / 40%);
    }
  }
}
