@use '../../../../styles/utils/variables' as var;
@use '../../../../styles/utils/fonts';
@use '../../../../styles/utils/typography';

@mixin on-tablet {
  @media (min-width: var.$tablet-min-width) and (width <= 1199px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: var.$desktop-min-width) {
    @content;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 16px;

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}

.cat {
  width: 100%;

  &__content {
    @include page-grid;

    row-gap: 24px;
  }

  &__title {
    grid-column: 1 / -1;
    font-family: Mont, sans-serif;
    font-size: var.$font-size-2xl;
    font-weight: 800;
    line-height: 41px;
    color: var.$color-primary;
    letter-spacing: var.$letter-spacing-tight;
  }

  &__link {
    display: grid;
    grid-column: span 4;
    gap: 24px;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 8;
    }

    text-decoration: none;
    transition: transform var.$transition-default;

    &:hover {
      transform: scale(1.03);
    }
  }

  &__category {
    position: relative;
    overflow: hidden;
    height: 368px;

    @include on-tablet {
      height: 187px;
    }

    &--phones {
      background-color: #6d6474;
    }

    &--tablets {
      background-color: #8d8d92;
    }

    &--accessories {
      background-color: #973d5f;
    }

    &__img {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &__details {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }

    &__title {
      margin: 0;
      font-family: Mont, sans-serif;
      font-size: var.$font-size-lg;
      font-weight: 600;
      line-height: 26px;
      color: var.$color-primary;
    }

    &__amount {
      margin: 0;
      font-size: var.$font-size-sm;
      font-weight: 500;
      line-height: 21px;
      color: var.$color-secondary;
    }
  }
}
