@use '../../../styles/utils/variables' as *;
@use '../../../styles/utils/mixins' as *;

.burger-menu {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $header-height-mobile-or-tablet);

  @include on-mobile {
    padding-top: $header-height-mobile-or-tablet;
  }

  &__content {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__nav {
    box-sizing: border-box;
    width: 100%;
    margin-top: 24px;
    padding: 0;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
  }

  &__link {
    position: relative;
    display: flex;
    font-family: Mont, sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 27px;
    color: $color-secondary;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4%;

    &__active {
      color: $color-primary;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
      }
    }
  }
}

.actions {
  display: flex;
  margin-top: auto;
  border: 1px solid $color-elements;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    list-style: none;
  }

  &__item {
    grid-column: span 1;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    box-shadow: -1px 0 0 0 $color-elements;

    @include on-mobile {
      height: 64px;
    }

    &__cart {
      background-image: url('/src/assets/icons/Cart.svg');
    }

    &__fav {
      background-image: url('/src/assets/icons/Favorites-filled.svg');
    }

    &__active {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
      }
    }
  }
}

.counter {
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 28px;
    height: 28px;
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
    border: 1px solid $color-background;
    border-radius: 14px;
    font-size: 9px;
    font-weight: 700;
    line-height: 100%;
    color: $color-background;
    letter-spacing: 0%;
    background-color: $color-red;
  }
}
